.testimonial > h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  text-align: center;
}

.testimonialContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  margin: 4rem 0;
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: rgb(50 50 93 / 25%) 0px 0px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  border-radius: 0.6rem;
}

.testimonialCard > p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.testomonialUser {
  margin-top: 2.4rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid rgb(185, 185, 185);
}

.testomonialUser > img {
  width: 3rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 0.6rem auto;
}

.testomonialUser > p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-align: center;
  color: rgb(39, 123, 234);
}

@media only screen and (max-width: 900px) {
  .testimonialContainer {
    grid-template-columns: 1fr;
  }
}
