.loginForm {
  background-color: #fff;
  padding: 2rem 2.4rem;
  border-radius: 1.2rem;
  box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 10px 23px -10px rgba(0, 0, 0, 0.75);
}

.loginForm > h1 {
  font-size: 1.8rem;
}

.nameWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.inputWrapper {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.inputWrapper > label {
  font-size: 1.2rem;
  cursor: pointer;
}

.inputWrapper > input {
  padding: 0.6rem;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 0.6rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.inputWrapper > input:focus {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.extraWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 1.2rem;
}

.loginForm a {
  color: rgb(39, 123, 234);
}

@media only screen and (max-width: 900px) {
  .loginForm {
    width: 100%;
  }

  .nameWrapper {
    flex-direction: column;
  }
}
