.navbar {
  height: 64px;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.797);
  backdrop-filter: blur(10px);
}

.scrolled {
  box-shadow: 0 0.0625rem 0.625rem 0 rgb(0 0 0 / 20%);
}

.wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  height: inherit;
}

.logoWrapper > img {
  height: inherit;
}

.logoWrapper > div {
  font-size: 1.5rem;
  font-weight: 600;
}

.logoWrapper > div > span {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-left: auto;
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
}
